
<div class="container my-5">
  <div class="row d-flex align-items-center">

    <div class="col d-flex justify-content-center">
      <% if @order.book.photo.attached? %>
        <%= cl_image_tag @order.book.photo.key, height: 300, width: 400%>
      <% else %>
        <%= cl_image_tag "https://res.cloudinary.com/e-girardi/image/upload/v1629916606/Book_covers/blank_book_jrgpwl.jpg", height: 300, width: 400%>
      <% end  %>
    </div>

    <div class="col">
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <div class="info text-center">
              <h1>Your purchase was successfully completed!</h1> <br>
              <h3><strong><%="#{@order.user.first_name}"%></strong>
                is already preparing your order
                and you should receive it soon.</h3><br>
              <h5>Click on the button below to check the details of your purchase</h5>
              <div class="container d-flex justify-content-center mt-5 w-70%">
                <%= link_to "My orders", bought_books_path, class: "button pt-80 "  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
