<h1>Check out these amazing books</h1>
<h3>You will definitely find a story you like</h2>

<div class="container">
  <div class="cards">
    <% @books.each do |book| %>
    <div class="card">
      <div class="card-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images-na.ssl-images-amazon.com/images/I/41CntX16eWL._SX332_BO1,204,203,200_.jpg')">
      </div>
      <div class="title">
        <h4><%= book.title %></h4>
      </div>
      <div class="price-more">
        <p>R$<%= book.price %></p>
        <p><%= link_to "More", book_path(book), class:"text-primary" %></p>
      </div>
    </div>

    <% end %>
  </div>
</div>
